<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="preloader"></div>
	<! -- ******************** FEATURES SECTION ******************** -->    
	<main class="congrats-form" role="main">
	    <div class="container" >
            <div>
            	<h1>We're on our way!</h1>
            	<h1>... you've been added to our waitlist.</h1>
            	<h3>You'll get a special discount when our next trainer is ready. We appreciate your interest!</h3>
            </div>
            <div id="blanket" style="display:none" onclick="popup('popUpDiv')"></div>
            <div class="col-sm-2 col-sm-offset-5">
                <button class="btn btn-success btn-lg form-control" type="button" onclick="popup('popUpDiv')">Get Updates</button>
            </div>
            <form class="form-inline trip-query" role="form" id="subscribeForm" method="POST" action="/waitlist">
                <div class="row" id="popUpDiv" style="display:none">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="col-sm-10">
                            <label class="trip-label" for="email"></label>
                            <input id="email" class="email-input input-lg col-sm-12" name="email" type="email" placeholder="Thanks for signing up! Want to stay tuned? Share your email here." required>
                        </div>
                        <div class="col-sm-2">
                            <label class="trip-label" for="email" style="display:none">&#9997;</label>
                            <button type="submit" class="btn btn-success btn-lg form-control">Receive Email</button>
                        </div>
                    </div>
                </div>
            </form> 
        	<!--<div class="trip-notes">
	            <div class="col-sm-8 col-sm-offset-2">
	        		<h3>Have an idea to share? Include it below.</h3>
		    		<p></p>
	        	</div>
		        <div class="col-md-12 text-center"> 
		       		<form class="form-inline trip-query" role="form" method="POST" action="/trip_notes">
		        		<div class="row">
		                    <div class="form-group-lg">
		                        <div class="col-sm-6 col-sm-offset-2">
		                            <label class="trip-label" for="notes" style="display:none">No Spam.</label>
		                            <input id="notes" class="email-input input-lg col-sm-12" name="notes" placeholder="We'll happily do our best to include it in the plan." required>
		                        </div>
		                        <div class="col-sm-2">
		                            <label class="trip-label" for="email" style="display:none">&#9997;</label>
		                            <button type="submit" class="btn btn-success btn-lg">Noted!</button>
		                        </div>
		                    </div>
		                </div>
	            	</form>
		        </div>
		    </div> -->
	    </div>
	</main>
	

    <! -- ******************** FEATURES SECTION ******************** -->    
    <div class="container" id="explore">
 
        <!--<div class="section-title">
            <h2>Share with friends to win a free trip!</h2>
            <h4>...because who doesn't want to see more in life.</h4>
        </div>

        <section class="row heroimg breath">
            <div class="col-md-12 text-center"> 
                <img src="images/flat-mockup-template.png" alt="flat-mockup-template">
            </div>
        </section>--><! --/section -->
 
        <div class="section-title">
            <h2>Stop reading about achieving goals...</h2>
            <h4>and start getting things done. Textbod is a friend - to keep you honest, disciplined, and fit!</h4>
        </div>
        
        <section class="row features">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail"> 
                    <img src="images/service_01.png" alt="analytics-icon">
                    <div class="caption">
                        <h3>Hand-tailored</h3>
                        <p>We've tried various systems for years and have found what really works and what doesn't.</p>
                    </div>
                </div><! --/thumbnail -->
            </div><! --/col-sm-6-->
 
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail"> 
                    <img src="images/service_02.png" alt="analytics-icon">
                    <div class="caption">
                        <h3>21st-century friendly</h3>
                        <p>We have the tools to listen and serve our customers. That doesn't mean you need to download yet another app.</p>
                    </div>
                </div><! --/thumbnail -->
            </div><! --/col-sm-6-->
 
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail"> 
                    <img src="images/service_03.png" alt="analytics-icon">
                    <div class="caption">
                        <h3>Success Stories</h3>
                        <p>You know what is best about being an early user? You get all the glory! Join today and be a part of the story.</p>
                    </div>
                </div><! --/thumbnail -->
            </div><! --/col-sm-6-->
 
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail"> 
                    <img src="images/service_04.png" alt="analytics-icon">
                    <div class="caption">
                        <h3>Care for detail</h3>
                        <p>We are particular. Expect the best from us, and hold us to a higher standard.</p>
                    </div>
                </div><! --/thumbnail -->
            </div><! --/col-sm-6-->
        </section><! --/section -->
 
    </div><! --/container -->
 
    <script>
    function blanket_size(popUpDivVar) {
        if (typeof window.innerWidth != 'undefined') {
            viewportheight = window.innerHeight;
        } else {
            viewportheight = document.documentElement.clientHeight;
        }
        if ((viewportheight > document.body.parentNode.scrollHeight) && (viewportheight > document.body.parentNode.clientHeight)) {
            blanket_height = viewportheight;
        } else {
            if (document.body.parentNode.clientHeight > document.body.parentNode.scrollHeight) {
                blanket_height = document.body.parentNode.clientHeight;
            } else {
                blanket_height = document.body.parentNode.scrollHeight;
            }
        }
        var blanket = document.getElementById('blanket');
        blanket.style.height = blanket_height + 'px';
        var popUpDiv = document.getElementById(popUpDivVar);
    }

    function window_pos(popUpDivVar) {
        if (typeof window.innerWidth != 'undefined') {
            viewportwidth = window.innerHeight;
        } else {
            viewportwidth = document.documentElement.clientHeight;
        }
        if ((viewportwidth > document.body.parentNode.scrollWidth) && (viewportwidth > document.body.parentNode.clientWidth)) {
            window_width = viewportwidth;
        } else {
            if (document.body.parentNode.clientWidth > document.body.parentNode.scrollWidth) {
                window_width = document.body.parentNode.clientWidth;
            } else {
                window_width = document.body.parentNode.scrollWidth;
            }
        }
        var popUpDiv = document.getElementById(popUpDivVar);
        //window_width=window_width/2-200;//200 is half popup's width
        //popUpDiv.style.left = window_width + 'px';
    }
    function popup(windowname) {
        blanket_size(windowname);
        //window_pos(windowname);
        toggle('blanket');
        toggle(windowname);     
    }

    function toggle(div_id) {
    var el = document.getElementById(div_id);
    if ( el.style.display == 'none' ) { el.style.display = 'block';}
    else {el.style.display = 'none';}
}
    </script>
</body>