<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="preloader"></div>
	<! -- ******************** FEATURES SECTION ******************** -->    
	<main class="congrats-form" role="main">
	    <div class="container" >
        	<h1>Congrats!</h1>
        	<h1>We'll reach out soon</h1>
        	<h3>...with a 3-day trip that will change your life.</h3>
        	
        	<div class="trip-notes">
	            <div class="col-sm-8 col-sm-offset-2">
	        		<h3>Control Freak? Have any details you just HAVE to share?</h3>
		    		<p></p>
	        	</div>
		        <div class="col-md-12 text-center"> 
		       		<form class="form-inline trip-query" role="form" method="POST" action="/trip_notes">
		        		<div class="row">
		                    <div class="form-group-lg">
		                        <div class="col-sm-6 col-sm-offset-2">
		                            <label class="trip-label" for="notes" style="display:none">No Spam.</label>
		                            <input id="notes" class="email-input input-lg col-sm-12" name="notes" placeholder="We'll happily do our best to include it in the plan." required>
		                        </div>
		                        <div class="col-sm-2">
		                            <label class="trip-label" for="email" style="display:none">&#9997;</label>
		                            <button type="submit" class="btn btn-success btn-lg">Noted!</button>
		                        </div>
		                    </div>
		                </div>
	            	</form>
		        </div>
		        <!--<div class="col-md-12 text-center">
		        	<div class="col-sm-4 col-sm-offset-4"> 
		        		<button class="btn btn-success btn-lg squatchpop">Like it? Refer a friend and earn $25</button> 
		        	</div>
		        </div>-->
		    </div>
	    </div>
	</main>
	<div class="container">
	    <div class="section-title">
	        <h2>Seriously, Justpack.</h2>
	        <h4>Details about what we do.</h4>
	    </div>
	    
	    <section class="row features">
	        <div class="col-sm-6 col-md-3">
	            <div class="thumbnail"> 
	                <img src="images/service_01.png" alt="analytics-icon">
	                <div class="caption">
	                    <h3>Powerful experiences.</h3>
	                    <p>How do we pick our destinations... we've been there, and it was kickass.</p>
	                </div>
	            </div><! --/thumbnail -->
	        </div><! --/col-sm-6-->

	        <div class="col-sm-6 col-md-3">
	            <div class="thumbnail"> 
	                <img src="images/service_02.png" alt="analytics-icon">
	                <div class="caption">
	                    <h3>Fully budgeted.</h3>
	                    <p>We take into account everything from airfare to dinner fare in our selection.</p>
	                </div>
	            </div><! --/thumbnail -->
	        </div><! --/col-sm-6-->

	        <div class="col-sm-6 col-md-3">
	            <div class="thumbnail"> 
	                <img src="images/service_03.png" alt="analytics-icon">
	                <div class="caption">
	                    <h3>We'll haggle for you!</h3>
	                    <p>Not really. But we WILL use the latest in tech to stretch your dollar to the absolute max.</p>
	                </div>
	            </div><! --/thumbnail -->
	        </div><! --/col-sm-6-->

	        <div class="col-sm-6 col-md-3">
	            <div class="thumbnail"> 
	                <img src="images/service_04.png" alt="analytics-icon">
	                <div class="caption">
	                    <h3>Less is more.</h3>
	                    <p>We'll give you a couple weeks notice on a 3-day-weekend trip. All you have to do is take off Friday.</p>
	                </div>
	            </div><! --/thumbnail -->
	        </div><! --/col-sm-6-->
	    </section><! --/section -->
	</div><! --/container -->
</body>