<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

</head>

<body>

    <!--<% include ../partials/nav.ejs %>-->

    <div class="preloader"></div>
    
    <! -- ******************** MASTHEAD SECTION ******************** -->    
    <main id="top" class="masthead" role="main">
        <div class="container">
            <div class="logo"> <a href="#"><img src="images/textbodlogo.png" alt="logo"></a>
            </div>
            
            <h3>No book. No app. Just simple instruction and friendly dialog.</h3>
            
            <form class="form-inline trip-query" role="form" id="subscribeForm" method="POST" action="/signup">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="col-sm-4 col-sm-offset-2">
                            <label class="trip-label" for="phone" style="display:none">textbod phone #</label>
                            <input id="phone" class="input-lg" name="phone" type="tel" pattern="(?:\(\d{3}\)|\d{3})[- ]?\d{3}[- ]?\d{4}" placeholder="(555)-555-5555" value="" required="true">
                        </div>
                        <div class="col-sm-4">
                            <label class="trip-label" for="getgoing" style="display:none">Try textbod</label>
                            <button class="btn btn-success btn-lg form-control btn-signup" type="submit">Free 1-month trial</button>
                        </div>
                    </div>
                </div>
            </form>
                <!--<div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <button class="btn btn-success btn-lg submit-query" type="button" onclick="popup('popUpDiv')">Get going...</button>
                    </div>
                </div>-->
            
 
            <!--<a href="index.html#explore" class="scrollto">
            <p>SCROLL DOWN TO EXPLORE</p>
            <p class="scrollto--arrow"><img src="images/scroll_down.png" alt="scroll down arrow"></p>
            </a>-->
        </div><! --/container -->
    </main><! --/main -->
 

    <! -- ******************** FEATURES SECTION ******************** -->    
    <div class="container" id="explore">
 
        <!--<div class="section-title">
            <h2>Share with friends to win a free trip!</h2>
            <h4>...because who doesn't want to see more in life.</h4>
        </div>

        <section class="row heroimg breath">
            <div class="col-md-12 text-center"> 
                <img src="images/flat-mockup-template.png" alt="flat-mockup-template">
            </div>
        </section>--><! --/section -->
 
        <div class="section-title">
            <h2>Stop reading about achieving goals...</h2>
            <h4>and start getting things done. Textbod is a friend - to keep you honest, disciplined, and fit!</h4>
        </div>

        <section class="row features text-example">
            <table>
                <tr class="col-md-10 col-md-offset-1">
                    <td class="col-md-2 col-md-offset-3"><h3>Friendly.<br><br>Personable.<br><br>Thoughtful.</h3></td>
                    <td class="col-md-2 col-md-offset-2"><img src="images/textbodtext1.gif" alt="textbod.com text"></td>
                </tr>
            </table>
        </section>

        <section class="row features text-example">
            <table>
                <tr class="col-md-10 col-md-offset-1">
                    <td class="col-md-2 col-md-offset-3"><img src="images/textbodtext2.gif" alt="textbod.com text"></td>
                    <td class="col-md-2 col-md-offset-2"><h3>Simple.<br><br>Efficient.<br><br>Effective.</h3></td>
                </tr>
            </table>
        </section>
        
        <section class="row features feature-list">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail"> 
                    <img src="images/service_01.png" alt="analytics-icon">
                    <div class="caption">
                        <h3>Hand-tailored</h3>
                        <p>We've tried various systems for years and have found what really works and what doesn't.</p>
                    </div>
                </div><! --/thumbnail -->
            </div><! --/col-sm-6-->
 
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail"> 
                    <img src="images/service_02.png" alt="analytics-icon">
                    <div class="caption">
                        <h3>21st-century friendly</h3>
                        <p>We have the tools to listen and serve our customers. That doesn't mean you need to download yet another app.</p>
                    </div>
                </div><! --/thumbnail -->
            </div><! --/col-sm-6-->
 
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail"> 
                    <img src="images/service_03.png" alt="analytics-icon">
                    <div class="caption">
                        <h3>Success Stories</h3>
                        <p>You know what is best about being an early user? You get all the glory! Join today and be a part of the story.</p>
                    </div>
                </div><! --/thumbnail -->
            </div><! --/col-sm-6-->
 
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail"> 
                    <img src="images/service_04.png" alt="analytics-icon">
                    <div class="caption">
                        <h3>Care for detail</h3>
                        <p>We are particular. Expect the best from us, and hold us to a higher standard.</p>
                    </div>
                </div><! --/thumbnail -->
            </div><! --/col-sm-6-->
        </section><! --/section -->
 
    </div><! --/container -->
 

        <! -- ******************** PRICING LIST ******************** -->      
        <div class="container">
 
            <div class="section-title">
                <h2>Honest pricing. No surprises.</h2>
                <h4>No blood-pact. Free to try. </h4>
            </div>
            <section class="row breath planpricing">
            
                <div class="col-md-4">
                    <div class="pricing color1">
                        <div class="planname">Trial</div>
                        <div class="price"> <span class="curr">$</span>0<span class="per"></span></div>
                        <div class="billing">Give it a spin</div>
                    </div><! --/pricing -->
                </div><! --/col-md-4-->
                
                <div class="col-md-4">
                    <div class="pricing color2">
                        <div class="planname">Monthly</div>
                        <div class="price"> <span class="curr">$</span>5<span class="per"></span>/month</div>
                        <div class="billing">See big results</div>
                    </div><! --/pricing -->
                </div><! --/col-md-4-->
                
                <div class="col-md-4">
                    <div class="pricing color3">
                        <div class="planname">Annual</div>
                        <div class="price"> <span class="curr">$</span>50<span class="per"></span>/year</div>
                        <div class="billing">Make the commitment</div>
                    </div><! --/pricing -->
                </div><! --/col-md-4-->
            </section><!-- /section planpricing -->
 

        <! -- ******************** FAQ ******************** -->   
 
        <div class="section-title">
            <h5>Frequently Asked Questions</h5>
            <p>(Not here? Email us - service@textbod.com)</p>
        </div>
        
        <section class="row faq breath">
            <div class="col-md-6">
                <h6>How do I know it works?</h6>
                <p>Give it a try. We're sure it will be the most no-nonsense, result driven, and refreshingly comfortable experience that you'll stick around for months to come.</p>
                <h6>Do you stop at workouts?</h6>
                <p>Nope. We try to provide as holistic of a service as possible. We'll give you occasional eating tips, supplement ideas, wellness recommendations, and whatever else we can do to help you reach goals.</p>
            </div><! --/col-md-6 -->
            
            <div class="col-md-6">
                <h6>What if I refer a friend?</h6>
                <p>For every friend you invite, you'll receive 1-3 months of free training! The more the merrier and we'll reward you for helping. Make sure to mention who you invited via text.</p>
                <h6>I have an idea, concern, or general thought. Where can I leave it?</h6>
                <p>We LOVE it when our customers think of us. It makes our day to hear from you. Feel free to reply to the texts you receive! We'll return the favor.</p>
            </div><! --/col-md-6 -->
        </section><! --/section faq -->
 
    </div><! --/container -->
 
    <! -- ******************** FOOTER ******************** -->    
    <main class="footercta" role="main">
        <div class="container">
            <div class="row">

                <br><h2>The <strong>simple</strong> & <strong>effective</strong> way to <strong>train</strong></h2>
                <h3>Call or text (937)-TEXT-BOD to get started</h3>
                <div class="col-md-12 breath"> 
                    <a href="#top">
                    <button class="btn btn-success btn-lg">
                    try textbod today</button></a> 
                </div>
            </div>
        </div><! --/container -->
    </main><! --/main -->

    <div class="container">
        <section class="row breath">
            <div class="col-md-12 footerlinks">
                <p>&copy; textbod, Inc. 2016</p>
            </div>
        </section><! --/section -->
    </div><! --/container -->
 
<script>

 $(function() {
    $('.scrollto, .gototop').bind('click',function(event){
         var $anchor = $(this);
         $('html, body').stop().animate({
         scrollTop: $($anchor.attr('href')).offset().top
          }, 1500,'easeInOutExpo');
     event.preventDefault();
      });
  });

</script>
</body>
</html>
