<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

</head>

<body>

    <!--<% include ../partials/nav.ejs %>-->

    <div class="preloader"></div>
    
    <! -- ******************** MASTHEAD SECTION ******************** -->    
    <main id="top" class="masthead" role="main">
        <div class="container">
            <div class="logo"> <a href="#"><img src="images/justpackwhitemedium.png" alt="logo"></a>
            </div>
            
            <h1>Travel is <strong>good</strong>. Stress is <strong>bad</strong>.</h1>
            
            
            <div id="blanket" style="display:none" onclick="popup('popUpDiv')"></div>
            <form class="form-inline trip-query" role="form" id="subscribeForm" method="POST" action="/request_trip">
                <div class="row form-group-lg">
                    <!--<div class="col-sm-3 col-sm-offset-1">
                        <label for="travelers" class="trip-label">Guests</label>
                        <select id="travelers" class="form-control" name="travelers">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="Army">Army</option>
                        </select>
                    </div> -->
                    
                    <div class="col-sm-2 col-sm-offset-3">
                        <label for="departure" class="trip-label"><b>From</b></label>
                        <input id="departure" class="form-control" name="departure" placeholder="Departure City" required>
                    </div>
                    <!--<div class="col-sm-1">
                        <h2>+</h2>
                    </div>-->
                    <div class="col-sm-2">
                        <label for="price" class="trip-label" for="price">$$$</label>
                        <select id="price" class="form-control" name="price">
                            <option value="500">Under $500</option>
                            <option value="700">Under $700</option>
                            <option value="1000">Under $1,000</option>
                            <option value="1500">Under $1,500</option>
                            <option value="Lots">Ball out</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label class="trip-label" for="getgoing">&#9992;...&#9992;...&#9992;</label>
                        <button class="btn btn-success btn-lg form-control" type="button" onclick="popup('popUpDiv')">Get going</button>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <button class="btn btn-success btn-lg submit-query" type="button" onclick="popup('popUpDiv')">Get going...</button>
                    </div>
                </div>-->
                <div class="row" id="popUpDiv" style="display:none">
                    <div class="form-group-lg">
                        <div class="col-sm-6 col-sm-offset-2">
                            <label class="trip-label" for="email" style="display:none">Email</label>
                            <input id="email" class="email-input input-lg col-sm-12" name="email" type="email" placeholder="Share your email and we'll send a handcrafted plan. No spam." required>
                        </div>
                        <div class="col-sm-2">
                            <label class="trip-label" for="email" style="display:none">&#9997;</label>
                            <button type="submit" class="btn btn-success btn-lg">Let's go!</button>
                        </div>
                    </div>
                </div>
            </form>
 
            <!--<a href="index.html#explore" class="scrollto">
            <p>SCROLL DOWN TO EXPLORE</p>
            <p class="scrollto--arrow"><img src="images/scroll_down.png" alt="scroll down arrow"></p>
            </a>-->
        </div><! --/container -->
    </main><! --/main -->
 

    <! -- ******************** FEATURES SECTION ******************** -->    
    <div class="container" id="explore">
 
        <!--<div class="section-title">
            <h2>Share with friends to win a free trip!</h2>
            <h4>...because who doesn't want to see more in life.</h4>
        </div>

        <section class="row heroimg breath">
            <div class="col-md-12 text-center"> 
                <img src="images/flat-mockup-template.png" alt="flat-mockup-template">
            </div>
        </section>--><! --/section -->
 
        <div class="section-title">
            <h2>Seriously, Justpack.</h2>
            <h4>It's your vacay. Use it when you need it.</h4>
        </div>
        
        <section class="row features">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail"> 
                    <img src="images/service_01.png" alt="analytics-icon">
                    <div class="caption">
                        <h3>Powerful experiences.</h3>
                        <p>How do we pick our destinations... we've been there, and it was kickass.</p>
                    </div>
                </div><! --/thumbnail -->
            </div><! --/col-sm-6-->
 
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail"> 
                    <img src="images/service_02.png" alt="analytics-icon">
                    <div class="caption">
                        <h3>Fully budgeted.</h3>
                        <p>We account for everything from airfare to dinner fare in our selection.</p>
                    </div>
                </div><! --/thumbnail -->
            </div><! --/col-sm-6-->
 
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail"> 
                    <img src="images/service_03.png" alt="analytics-icon">
                    <div class="caption">
                        <h3>We'll haggle for you!</h3>
                        <p>Not really. But we WILL use the latest in tech to stretch your dollar to the absolute max.</p>
                    </div>
                </div><! --/thumbnail -->
            </div><! --/col-sm-6-->
 
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail"> 
                    <img src="images/service_04.png" alt="analytics-icon">
                    <div class="caption">
                        <h3>Less is more.</h3>
                        <p>We'll give you a couple weeks notice on a 3-day-weekend trip. All you need to do is take Friday off.</p>
                    </div>
                </div><! --/thumbnail -->
            </div><! --/col-sm-6-->
        </section><! --/section -->
 
    </div><! --/container -->
 

        <! -- ******************** TESTIMONIALS SECTION ******************** -->     
        <div class="highlight testimonials">
            <div class="container">
                <div class="section-title">
                    <h2>Why would anyone use Justpack?</h2>
                    <h4>Listen to these people. </h4>
                </div>
                
                <section class="row breath">
                    <div class="col-md-6">
                        <div class="testblock">I'm prone to overtly aggressive outbursts when stuck in the office for too long. I've also realized an alarming spike in hairloss whenever tasked with planning a trip with friends. I use Justpack so that I don't die an early, stress-induced death.</div>
                        <div class="clientblock"> 
                            <img src="images/customer-img-1.jpg" alt=".">
                            <p><strong>Augustus Maywho</strong> <br>
                                Someone similar to a person you know.
                            </p>
                        </div>
                    </div><! --/col-md-6 -->
                    
                    <div class="col-md-6">
                        <div class="testblock">I've realized that living in a bubble, of my own creation, is not how I want to live my life. Life fulfillment comes from a spectrum of experiences. A spectrum that one simply cannot find from yet another Netflix binge. </div>
                        <div class="clientblock"> 
                            <img src="images/customer-img-2.jpg" alt=".">
                            <p><strong>Cindy Lou Who </strong> <br>
                                Seriously. Is this NOT true?
                            </p>
                        </div>
                    </div><! --/col-md-6 -->
                </section><! --/section -->
 
            </div><! --/container -->
        </div><! --/highlight Testimonials -->
 

        <! -- ******************** PRICING LIST ******************** -->      
        <div class="container">
 
            <div class="section-title">
                <h2>Honest pricing. No surprises.</h2>
                <h4>No blood-pact. No credit card required. </h4>
            </div>
            <section class="row breath planpricing">
            
                <div class="col-md-4">
                    <div class="pricing color1">
                        <div class="planname">Individual</div>
                        <div class="price"> <span class="curr">$</span>25<span class="per"></span></div>
                        <div class="billing">Billed @ booking</div>
                    </div><! --/pricing -->
                </div><! --/col-md-4-->
                
                <div class="col-md-4">
                    <div class="pricing color2">
                        <div class="planname">Group</div>
                        <div class="price"> <span class="curr">$</span>20<span class="per">/guest</span></div>
                        <div class="billing">Billed @ booking</div>
                    </div><! --/pricing -->
                </div><! --/col-md-4-->
                
                <div class="col-md-4">
                    <div class="pricing color3">
                        <div class="planname">Subscription</div>
                        <div class="price"> <span class="curr">$</span>15<span class="per">/month</span></div>
                        <div class="billing">Billed Monthly</div>
                    </div><! --/pricing -->
                </div><! --/col-md-4-->
            </section><!-- /section planpricing -->
 

        <! -- ******************** FAQ ******************** -->   
 
        <div class="section-title">
            <h5>Frequently Asked Questions</h5>
            <p>(usually about money)</p>
        </div>
        
        <section class="row faq breath">
            <div class="col-md-6">
                <h6>How do I know what I'm paying for?</h6>
                <p>Once you review your itinerary, and agree to take Friday off, we will send you an itemized receipt that breaks down all associated costs.</p>
                <h6>How do I pay?</h6>
                <p>We take venmo, paypal, and credit card... we would probably take cash too if that was a feasible option, but alas. We can even provide financings for up to 12 months.</p>
            </div><! --/col-md-6 -->
            
            <div class="col-md-6">
                <h6>Can I request specific dates, things to do, target climates, etc?</h6>
                <p>Yes. After you have submitted the above departure+money form you will have the opportunity to leave us a note with any specifics you'd like. We WILL make it happen.</p>
                <h6>Why are you doing this?</h6>
                <p>What's the most exciting part of any trip? It's the days/weeks leading up to your departure and the pleasant surprises throughout. We know exactly where to take you and exactly how to play you. Try us.</p>
            </div><! --/col-md-6 -->
        </section><! --/section faq -->
 
    </div><! --/container -->
 
    <! -- ******************** FOOTER ******************** -->    
    <main class="footercta" role="main">
        <div class="container">
            <h1>The <strong>simple</strong> & <strong>exciting</strong><br>
                way to <strong>travel</strong>.</h1>

            <div class="row">
                <div class="col-md-12 breath"> 
                    <a href="#top">
                    <button class="btn btn-success btn-lg">
                    Let's go somewhere</button></a> 
                </div>
            </div>
        </div><! --/container -->
    </main><! --/main -->

    <div class="container">
        <section class="row breath">
            <div class="col-md-12 footerlinks">
                <p>&copy; JustPack, Inc. 2016</p>
            </div>
        </section><! --/section -->
    </div><! --/container -->
 
 
 
<script src="js/jquery.js"></script>
<script src="js/easing.js"></script>
<script src="js/nicescroll.js"></script>
<script src="js/bootstrap.js"></script>
 
<script>

function toggle(div_id) {
    var el = document.getElementById(div_id);
    if ( el.style.display == 'none' ) { el.style.display = 'block';}
    else {el.style.display = 'none';}
}
function blanket_size(popUpDivVar) {
    if (typeof window.innerWidth != 'undefined') {
        viewportheight = window.innerHeight;
    } else {
        viewportheight = document.documentElement.clientHeight;
    }
    if ((viewportheight > document.body.parentNode.scrollHeight) && (viewportheight > document.body.parentNode.clientHeight)) {
        blanket_height = viewportheight;
    } else {
        if (document.body.parentNode.clientHeight > document.body.parentNode.scrollHeight) {
            blanket_height = document.body.parentNode.clientHeight;
        } else {
            blanket_height = document.body.parentNode.scrollHeight;
        }
    }
    var blanket = document.getElementById('blanket');
    blanket.style.height = blanket_height + 'px';
    var popUpDiv = document.getElementById(popUpDivVar);
}
function window_pos(popUpDivVar) {
    if (typeof window.innerWidth != 'undefined') {
        viewportwidth = window.innerHeight;
    } else {
        viewportwidth = document.documentElement.clientHeight;
    }
    if ((viewportwidth > document.body.parentNode.scrollWidth) && (viewportwidth > document.body.parentNode.clientWidth)) {
        window_width = viewportwidth;
    } else {
        if (document.body.parentNode.clientWidth > document.body.parentNode.scrollWidth) {
            window_width = document.body.parentNode.clientWidth;
        } else {
            window_width = document.body.parentNode.scrollWidth;
        }
    }
    var popUpDiv = document.getElementById(popUpDivVar);
    //window_width=window_width/2-200;//200 is half popup's width
    //popUpDiv.style.left = window_width + 'px';
}
function popup(windowname) {
    blanket_size(windowname);
    //window_pos(windowname);
    toggle('blanket');
    toggle(windowname);     
}

 $(function() {
    $('.scrollto, .gototop').bind('click',function(event){
         var $anchor = $(this);
         $('html, body').stop().animate({
         scrollTop: $($anchor.attr('href')).offset().top
          }, 1500,'easeInOutExpo');
     event.preventDefault();
      });
  });

</script>
</body>
</html>
