<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
</head>

<body>

    <!--<% include ../partials/nav.ejs %>-->

    <div class="preloader"></div>
    
    <! -- ******************** MASTHEAD SECTION ******************** -->    
    <main id="top" class="masthead" role="main">
        <div class="container">
            <div class="logo"> <a href="index.html#"><img src="images/justpackwhitemedium.png" alt="logo"></a>
            </div>
 
            <h1>Travel is <strong>good</strong>. Stress is <strong>bad</strong></h1>
 
            <div class="row">
                <div class="col-md-10 col-md-offset-1 subscribe">
                    <form class="form-inline" role="form" id="subscribeForm" method="POST" onsubmit="" action="/request_trip">
                        <div class="form-group-lg">
                            <div class="col-md-3">
                                <label for="travelers" class="trip-label">Travelers</label>
                                <select id="travelers" class="form-control" name="travelers">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="Lots">Army</option>
                                </select>
                            </div>
                            
                            <div class="col-md-4">
                                <label for="departure" class="trip-label">From</label>
                                <input id="departure" class="form-control" name="departure" placeholder="Departure City">
                            </div>
                            
                            <div class="col-md-3">
                                <label for="price" class="trip-label" for="budget">$</label>
                                <select id="price" class="form-control" name="price">
                                    <option value="500">Under $500</option>
                                    <option value="700">Under $700</option>
                                    <option value="1000">Under $1,000</option>
                                    <option value="1500">Under $1,500</option>
                                    <option value="Lots">Ball out</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-success btn-lg">Let's go!</button>
                            </div>
                            <!--<div class="col-md-6 col-md-offset-3">
                                <input class="form-control travel-email" name="email" type="email" id="address" placeholder="Enter your email" data-validate="validate(required, email)">
                            </div>-->
                        </div>
                    </form>
                    <span id="result" class="alertMsg"></span> </div>
                </div>
 
                <a href="index.html#explore" class="scrollto">
                <p>SCROLL DOWN TO EXPLORE</p>
                <p class="scrollto--arrow"><img src="images/scroll_down.png" alt="scroll down arrow"></p>
                </a>
        </div><! --/container -->
    </main><! --/main -->
 

    <! -- ******************** FEATURES SECTION ******************** -->    
    <div class="container" id="explore">
 
        <div class="section-title">
            <h2>Share with friends to win a free trip!</h2>
            <h4>...because who doesn't want to be tempted.</h4>
        </div>

        <section class="row heroimg breath">
            <div class="col-md-12 text-center"> 
                <img src="images/flat-mockup-template.png" alt="flat-mockup-template">
            </div>
        </section><! --/section -->
 
        <div class="section-title">
            <h2>Seriously, Justpack.</h2>
            <h4>Deets about what we do.</h4>
        </div>
        
        <section class="row features">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail"> 
                    <img src="images/service_01.png" alt="analytics-icon">
                    <div class="caption">
                        <h3>Powerful experiences.</h3>
                        <p>How do we pick our destinations... we've been there, and it was kickass.</p>
                    </div>
                </div><! --/thumbnail -->
            </div><! --/col-sm-6-->
 
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail"> 
                    <img src="images/service_02.png" alt="analytics-icon">
                    <div class="caption">
                        <h3>Fully budgeted.</h3>
                        <p>We take into account everything from airfare to dinner fare in our selection.</p>
                    </div>
                </div><! --/thumbnail -->
            </div><! --/col-sm-6-->
 
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail"> 
                    <img src="images/service_03.png" alt="analytics-icon">
                    <div class="caption">
                        <h3>We'll haggle for you!</h3>
                        <p>Not really. But we WILL use the latest in tech to stretch your dollar to the absolute max.</p>
                    </div>
                </div><! --/thumbnail -->
            </div><! --/col-sm-6-->
 
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail"> 
                    <img src="images/service_04.png" alt="analytics-icon">
                    <div class="caption">
                        <h3>Less is more.</h3>
                        <p>We'll give you a couple weeks notice on a 3-day-weekend trip. Don't think. Just feel.</p>
                    </div>
                </div><! --/thumbnail -->
            </div><! --/col-sm-6-->
        </section><! --/section -->
 
    </div><! --/container -->
 

        <! -- ******************** TESTIMONIALS SECTION ******************** -->     
        <div class="highlight testimonials">
            <div class="container">
                <div class="section-title">
                    <h2>What our customers said</h2>
                    <h4>Don't take our word. See our testimonials </h4>
                </div>
                
                <section class="row breath">
                    <div class="col-md-6">
                        <div class="testblock">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </div>
                        <div class="clientblock"> 
                            <img src="images/customer-img-1.jpg" alt=".">
                            <p><strong>John Doe</strong> <br>
                                Founder of <a href="index.html#">Blacktie.co</a>
                            </p>
                        </div>
                    </div><! --/col-md-6 -->
                    
                    <div class="col-md-6">
                        <div class="testblock">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </div>
                        <div class="clientblock"> 
                            <img src="images/customer-img-2.jpg" alt=".">
                            <p><strong>Richard Sommer</strong> <br>
                                CEO of <a href="index.html#">Blacktie.co</a>
                            </p>
                        </div>
                    </div><! --/col-md-6 -->
                </section><! --/section -->
 
            </div><! --/container -->
        </div><! --/highlight Testimonials -->
 

        <! -- ******************** PRICING LIST ******************** -->      
        <div class="container">
 
            <div class="section-title">
                <h2>Honest pricing. No surprises.</h2>
                <h4>No blood-pact. No credit card required. </h4>
            </div>
            <section class="row breath planpricing">
            
                <div class="col-md-4">
                    <div class="pricing color1">
                        <div class="planname">Personal</div>
                        <div class="price"> <span class="curr">$</span>14<span class="per">/MO</span></div>
                        <div class="billing">Billed Annually</div>
                    </div><! --/pricing -->
                </div><! --/col-md-4-->
                
                <div class="col-md-4">
                    <div class="pricing color2">
                        <div class="planname">Agency</div>
                        <div class="price"> <span class="curr">$</span>49<span class="per">/MO</span></div>
                        <div class="billing">Billed Annually</div>
                    </div><! --/pricing -->
                </div><! --/col-md-4-->
                
                <div class="col-md-4">
                    <div class="pricing color3">
                        <div class="planname">Enterprise</div>
                        <div class="price"> <span class="curr">$</span>99<span class="per">/MO</span></div>
                        <div class="billing">Billed Annually</div>
                    </div><! --/pricing -->
                </div><! --/col-md-4-->
            </section><!-- /section planpricing -->
 

        <! -- ******************** FAQ ******************** -->   
 
        <div class="section-title">
            <h5>Frequently Asked Questions</h5>
        </div>
        
        <section class="row faq breath">
            <div class="col-md-6">
                <h6>How does the free trial work?</h6>
                <p>Our 10 day trial is 100% free and does not require credit card information to start. If at the end of your trial you would like to upgrade, great. If not, you can cancel your account altogether, or let us mark it as inactive for you to come back to later.</p>
                <h6>Can I switch plans later?</h6>
                <p>Absolutely. You can switch between our paid plans, or cancel your account altogether, whenever you like. We will adjust any payments accordingly.</p>
            </div><! --/col-md-6 -->
            
            <div class="col-md-6">
                <h6>Do I need to choose a plan now?</h6>
                <p>No. You get the full featured, unlimited version of our service completely free for 10 days. Once you're ready to upgrade, you may choose a plan which suits your needs.</p>
                <h6>What payment types do you accept?</h6>
                <p>We accept payments from MasterCard, Visa, Visa Debit and American Express. We do not accept PayPal. Remember, you do not need to supply card details to start your free trial.</p>
            </div><! --/col-md-6 -->
        </section><! --/section faq -->
 
    </div><! --/container -->
 
        <! -- ******************** FOOTER ******************** -->    
        <main class="footercta" role="main">
            <div class="container">
                <h1>The Most Simple & <strong>Powerful Way</strong> <br>
                    to <strong>launch</strong> your product</h1>
 
                <div class="row">
                    <div class="col-md-12 breath text-center"> 
                        <a href="index.html#top" class="btn btn-success btn-lg gototop">GET EARLY ACCESS</a> 
                    </div>
                </div>
            </div><! --/container -->
        </main><! --/main -->
 
        <div class="container">
            <section class="row breath">
                <div class="col-md-12 footerlinks">
                    <p>&copy; JustPack, Inc. 2016</p>
                </div>
            </section><! --/section -->
        </div><! --/container -->
 
 
 
<script src="js/jquery.js"></script>
<script src="js/easing.js"></script>
<script src="js/nicescroll.js"></script>
<script src="js/bootstrap.js"></script>
 
<script>


 $(function() {
    $('.scrollto, .gototop').bind('click',function(event){
         var $anchor = $(this);
         $('html, body').stop().animate({
         scrollTop: $($anchor.attr('href')).offset().top
          }, 1500,'easeInOutExpo');
     event.preventDefault();
      });
  });
        

</script>
</body>
</html>
